@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap" ); /*to link font frm google fonts*/

:root
{
    --iriscolor: #4D5AE5;
    --navyblue:#2E2F42;
    --navcolor: black;
    --oceancolor: #404BBF;
    --whitecolor: white;
    --slate:#434455;
    --cloud:#F4F4FD;
    --green:#31D0AA;
    --lightslate:#8E8F99;
    --cornflower:#E7E9FC;
    --navybluemodal:#2E2F42;
    --grey:#2E2F42;
    --dairy:#FCFCFC;
    
}
/* CSS RESET */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}
/* END OF CSS RESET */

body
{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.container {
    width: 1158px;
    margin: 0 auto;  
    padding:0 15px;
}
.header{

    border: 1px solid var(--cornflower);
    background: var(--whitecolor);

}
.header-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--whitecolor);
}

.header-navigation{

    display: flex;
    align-items: center;
}

.header1 {
 
    color: var(--whitecolor);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    margin-bottom: 48px;
}

.link-logo
{
    text-decoration: none; /*To remove the underline frm link*/
}

.logo-web
{
    font-family: 'Raleway', sans-serif;
    color: var(--iriscolor);
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-studio-top
{
    margin-right: 76px;
    color: var(--navyblue);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.navbar
{
    display: flex;
    gap: 24px;
}

.contacts-top
{
    display: flex;
    gap: 40px;
}

.navbar .navlist-top-pages
{
    color: var(--navcolor);
    text-decoration: none;
    font-weight: 500;
    display: block;
    padding: 24px 0;

}

.lists
{
    list-style-type: none;
}

.navbar .navlist-top-pages:hover,
.navbar .navlist-top-pages:focus,
.navbar .navlist-top-pages.currentoption
{
    color: var(--oceancolor);
}

.contacts-top .contact-info-top:hover,
.contacts-top .contact-info-top:focus 
{
    color: var(--oceancolor);
}

.contacts-top .contact-info-top
{
    color: var(--navcolor);
    display: block;
    text-decoration: none;
    padding: 24px 0;
}

.hero-container
{
    text-align: center;
}

.hero-background
{
    background-color: var(--navyblue);
}

.hero{
    padding: 188px 0;   
}

.section-grey
{
    background-color: var(--cloud);
}

.filters
{
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
}

.filter 
{ /*button css*/

    display: inline-flex;
    padding: 16px 32px;

    cursor: pointer;
    border: 1px solid var(--cornflower);
    color: var(--iriscolor);
    background-color: var(--cloud);
    border-radius: 4px;

    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}

.filter-active, .filter:hover, .filter:focus
{
    background-color: var(--iriscolor);
    border-color:var(--iriscolor);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--whitecolor);
}

.filter.filter-active:hover,
.filter.filter-active:focus
{
    background-color: var(--oceancolor);
}

.section-title 
{
    margin-bottom: 72px;
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.section
{
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-no-top-padding
{
    padding-top: 0px;
}

.features-container
{
 
}

.features {

    display: flex;
    gap: 20px;
    
}

.features-list-title 
{
    margin-bottom: 8px;
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

.features-description 
{
    gap: 24px;
    color: var(--slate);
}

.whatwedo-container{

}

.whatwedo
{

    display: flex;
    gap: 24px;

}

.whatwedo-list
{
    
}

.team-list-title 
{
    margin-top:32px;
    margin-bottom: 8px;
  
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

.team-description {
    
    color: var(--slate);
}

.team-container {


}

.team 
{
    display: flex;
    gap: 24px;
}

.team-list
{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;

    border-radius: 0px 0px 4px 4px;
    background: var(--whitecolor);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.projects-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.project-type{


}

.project-text-wrapper
{
    border: 1px solid var(--cornflower);
    border-top: none;
    padding: 32px 16px;
}

.project-list-title {

    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

.project-description {

    line-height: 1.87;
    color: var(--slate);
}

.footer {
    padding: 100px 0;
    background-color: var(--navyblue);
}

.logo-studio-bottom {

    color: var(--whitecolor);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.parag-bottom {
    margin-top: 17.5px;
    color: var(--whitecolor);
} 
